{% extends "patient_base.html" %} {% block title %}Login{% endblock %} {% block content
%}


<section class="section">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">

                <div class="card p-4">

                

                    <h5 class="card-title mb-4">Patient</h5>
                    <h5 class="card-title mb-4">Information</h5>

                    <div class="row mb-5">
                        <div class="col-md-4 col-sm-12 label" style="font-weight: bold;">Patient ID: </div>
                        <div class="col-md-8 col-sm-12">{{patient.PatientID}}</div>


                        <div class="col-md-4 col-sm-12 label" style="font-weight: bold;">Status: </div>
                        <div class="col-md-8 col-sm-12">

                            {% if patient.isPatientOnWaitingList %}
                            <span class="badge bg-danger">Waiting list</span>
                            {% else %}
                            <span class="badge bg-secondary">Out of Waiting List</span>

                            {% endif %}
                        </div>


                        <div class="col-md-4 col-sm-12 label" style="font-weight: bold;">Date Of Birth:</div>
                        <div class="col-md-8 col-sm-12">{{patient.DateOfBirth}}</div>

                        <div class="col-md-4 col-sm-12 label" style="font-weight: bold;">Blood Group: </div>
                        <div class="col-md-8 col-sm-12">{{patient.BloodGroup}}</div>

                        <div class="col-md-4 col-sm-12 label" style="font-weight: bold;"> HLA </div>
                        <div class="col-md-8 col-sm-12"></div>

                        <div class="col-md-4 col-sm-12 label">A: </div>
                        <div class="col-md-8 col-sm-12">{{patient.A1}},{{patient.A2}}</div>


                        <div class="col-md-4 col-sm-12 label">B: </div>
                        <div class="col-md-8 col-sm-12">{{patient.B1}},{{patient.B2}}</div>

                        <div class="col-md-4 col-sm-12 label">C: </div>
                        <div class="col-md-8 col-sm-12">{{patient.C1}},{{patient.C2}}</div>


                        <div class="col-md-4 col-sm-12 label">DRB1: </div>
                        <div class="col-md-8 col-sm-12">{{patient.DRB1}},{{patient.DRB2}}</div>


                        <div class="col-md-4 col-sm-12 label">DQA1: </div>
                        <div class="col-md-8 col-sm-12">{{patient.DQA1}},{{patient.DQA2}}</div>

                        <div class="col-md-4 col-sm-12 label">DQB1: </div>
                        <div class="col-md-8 col-sm-12">{{patient.DQB1}},{{patient.DQB2}}</div>

                        <div class="col-md-4 col-sm-12 label" style="font-weight: bold;">Antibodies: </div>
                        <div class="col-md-8 col-sm-12">
                            
                            {% if patient.antiA is not none %}
                            {{ patient.antiA }}
                            {% endif %}

                            {% if patient.antiB is not none %}
                            , {{ patient.antiB }}
                            {% endif %}

                            {% if patient.antiC is not none %}
                            , {{ patient.antiC }}
                            {% endif %}

                            {% if patient.antiDQA is not none %}
                            , {{ patient.antiDQA }}
                            {% endif %}

                            {% if patient.antiDQB is not none %}
                            , {{ patient.antiDQB }}
                            {% endif %}

                            {% if patient.antIDR is not none %}
                            , {{ patient.antIDR }}
                            {% endif %}

                        </div>

                        <div class="text-end">

                            <a href="{{ url_for('views.modify_Patient', PatientID=patient.PatientID) }}">
                                <button type="submit" class="btn btn-primary me-2">Modify</button>
                            </a>

                            <button class="btn btn-primary w-60"
                                onclick="deletePatient('{{ patient.PatientID }}')">Delete</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>

</section>





{% endblock %}